<!-- login.component.html -->
<div class="login-container">
  <mat-card>
    <mat-card-header class="mb-2.5">
      <mat-card-title>Login</mat-card-title>
    </mat-card-header>

    <mat-card-content class="">
      <form
        class="flex flex-col"
        [formGroup]="loginForm"
        (ngSubmit)="onSubmitForm()"
      >
        <mat-form-field>
          <mat-label>Email</mat-label>
          <input matInput name="email" required formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            name="password"
            required
            formControlName="password"
          />
          <button
            type="button"
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!loginForm.valid"
        >
          Login
        </button>
      </form>
      @if (errors) {
        <div class="mt-2 text-red-600 italic">
          @for (error of errors; track error) {
            {{ error }}
          }
        </div>
      }
    </mat-card-content>
  </mat-card>
</div>
