<div class="px-2 flex flex-col">
  <mat-card>
    <div class="flex flex-row px-3">
      @if (ephemeris) {
        <app-date-ephemeris [date]="calendarEvent.beginning" class="py-2" />
      }
      <div class="object-fill">
        <mat-card-header>
          <mat-card-title
            >{{ calendarEvent.beginning | date: "hh'h'mm" }} -
            {{ calendarEvent.title }}</mat-card-title
          >
        </mat-card-header>
        <mat-card-content class="justify">{{
          calendarEvent.description
        }}</mat-card-content>
      </div>
    </div>
  </mat-card>
</div>
