<mat-card class="person-info">
  <mat-card-content
    class="person-info-content flex justify-between items-center"
  >
    <div class="person-info-header">
      <!--      <div class="person-info-avatar">
              &lt;!&ndash;<img [src]="profile.photoUrl" alt="Photo de profil"> &ndash;&gt;
            </div>-->
      <div class="person-info-details">
        <h2>{{ username }}</h2>
      </div>
    </div>
    <div class="camera-icon text-4xl">
      <a
        href="https://teams.microsoft.com/l/meetup-join/19%3ameeting_OWI1NDExNGYtZWFjMy00YjA2LWE3M2UtYzJlOGI2YTZkMjhh%40thread.v2/0?context=%7b%22Tid%22%3a%22502ef359-2fd8-4f48-844f-ef3c798baab8%22%2c%22Oid%22%3a%227a34faca-edc6-47a0-90dc-918e1e9b1b78%22%7d"
      >
        <mat-icon color="primary">videocam</mat-icon>
      </a>
    </div>
  </mat-card-content>
</mat-card>
