<!-- Contenu du tableau de bord à intégrer ici -->
<div class="grid grid-cols-3 grid-rows-2 gap-4 bg-white h-full">
  <div
    class="row-span-2 bg-green-300 bg-opacity-60 rounded-2xl my-3 ml-3 shadow-xl"
  >
    <h1 class="text-center pt-3"><a routerLink="/calendar">Calendrier</a></h1>
    @defer {
      <app-calendar-widget-container></app-calendar-widget-container>
    }
  </div>
  <div class="bg-yellow-200 bg-opacity-60 rounded-2xl mt-3 shadow-xl">
    <h1 class="text-center pt-3">Actualités</h1>
    @defer {
      <app-news-widget-container />
    }
  </div>
  <div
    class="row-span-2 bg-blue-400 bg-opacity-60 rounded-2xl my-3 mr-3 shadow-xl"
  >
    <h1 class="text-center pt-3"><a routerLink="/chat">Messagerie</a></h1>
    @defer {
      <app-conversation-list-container
        (conversationItemClicked)="onConversationItemClicked($event)"
      />
    }
  </div>
  <div class="col-start-2 bg-red-400 bg-opacity-60 rounded-2xl mb-3 shadow-xl">
    <h1 class="text-center pt-3">Alertes</h1>
  </div>
</div>
